* {
	padding: 0.0rem;
  margin: 0.0rem;
}

html {
  background-image: url(/fire.png);
  background-size: cover;
}

body {
  margin-top: 0.0rem;
  height: 100%;
}

a {

  color: rgb(8, 82, 241);
}

.App {
  text-align: left;
  background-color: transparent;
  height: 100%;
  font-family: "Arial", Times, serif;
  width: 100%;
}

.App-header {

  background-color: transparent;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(59, 151, 236);
  margin-top: 2.0rem;
  margin-bottom: 0.0rem;
  width: 100%;
  position: relative;
}

.flag-holder {

	background-color: rgb(8, 82, 241);
	padding: 0.2rem;
  width: 15%;
  min-width: 70px;
	height: auto;
	justify-content: center;
	align-items: center;
  display: flex;
	position: absolute;
	top: 3%;
  right: 1%;
  border-radius: 0.5rem;
}

.flag-img {

	width: 40%;
	height: 80%;
	margin: 4%;
}

.flag-img:hover {

  transform: scale(0.9,0.9);
}

.item-container {

  background-color: transparent;
  padding: 1rem;
  padding-top: 1.3rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.item-list {

  width: 90%;
  list-style-type: none;
}

.item-list li {
  display: flex;
  justify-content: center;
}

.info-item {

  color: rgb(59, 151, 236);
  background-color: black;
  opacity: 0.86;
  font-size: 1rem;
  margin: 1.4rem;
  border: 2px solid rgb(17, 83, 226);
  border-radius: 3px;
  padding: 0.5rem;
  width: 100%;
}

.info-item > header {

  color: rgb(65, 90, 235);
  display: flex;
  align-items: flex-start;
  margin: 0.5rem;
}

.info-item-btn {

  margin-right: 0.5rem;
  float: left;
  width: 1.6rem;
  height: 1.6rem;
  min-width: 30px;
  background-color: rgb(13, 36, 168);
  border-radius: 47% 53% 5% 95% / 35% 100% 0% 65%;
}

.info-item-btn:hover {
  background-color: rgb(235, 99, 8);
  transform: scale(1.2,1.2);
}

.visible-text {

  opacity: 0;
  animation: Fade-In 0.7s linear 1;
  animation-fill-mode: forwards;
}

.flipped-arrow {

  animation: Flip-Arrow 0.3s linear 1;
  animation-fill-mode: forwards;
}

.normal-arrow {

  animation: Flip-Arrow-Back 0.4s linear 1;
  animation-fill-mode: backwards;
}

@keyframes Flip-Arrow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

@keyframes Flip-Arrow-Back {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes Fade-In {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.intro-box {

  background: linear-gradient(65deg, black, rgb(8, 2, 85));
  font-size: 1.0rem;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  margin: 0.0rem;
  margin-left: 5%;
  margin-right: 5%;
  min-width: 350px;
  position: relative;
}

.intro-text-area {

  line-height: 1.5rem;
  margin: 2.0rem;
  width: 40%;
  min-width: 180px;
}

.face-img-container {

  border-radius: 5px;
  border: 2px solid rgb(19, 54, 172);
  padding: 1rem;
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
  width: 7%;
  min-width: 80px;
  height: auto;
}

.face-img {

  width: 5rem;
  height: 7rem;
  border-radius: 5px;
}

.text-area {

  margin: 0.9rem;
  max-width: 85%;
  line-height: 1.5rem;
}

.footer {

  margin: 0.0rem;
  color: rgb(162, 209, 170);
  background-color: rgb(8, 4, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.4rem;
}

.footer p {

  color: rgb(162, 209, 170);
  background-color: transparent;
  font-size: 0.8rem;
}